@import url('https://cdn.jsdelivr.net/gh/rastikerdar/estedad-font@v1.0.0/dist/font-face.css');
@import "tailwindcss";

body {
  font-family: 'Estedad', sans-serif;
  margin: 0;
  padding: 0;
}
.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }